main{
    display:flex;

}

main>section{
    width:45%;
}

span.important{
    font-weight: 600;
}

ul{
    list-style: none;
}

img.profile-pic{
    border-radius:8rem;
}



.red{
    color:rgb(182, 23, 194);
    font-size:1.2em;
}

h2.name:hover{
    color:red;
    cursor: progress;
}

