@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Slabo+27px&display=swap');
.title{
    text-transform: uppercase;
    letter-spacing: 1rem;
}

div.content{
    padding-top:2rem;
    display:flex;
    justify-content: space-around;
}
div.left{
    min-width:38%;
    min-height: 30rem;
    padding:0.75rem;
}
div.right{
    min-width:58%;
    min-height: 30rem;
}

ul.rating{
    display:flex;
    list-style-type: none;
    color:yellow;
    font-size:1.2rem;
    padding:1rem;
    justify-content: center;
}

ul.rating>li{
    margin-left:1rem;
}

#carouselExampleFade img{ 
    height:20rem;
    border-radius: 6rem 2rem;
    object-fit: cover;  
}
iframe{
    margin-top:1rem;
}
p.desc{
    padding: 0.5rem;
   margin-bottom:1rem;
    max-height: 34rem;
    overflow-y: scroll;
}
.special-font{
    font-family: "Cedarville Cursive", cursive !important; 
    font-weight: 400;
    font-style: normal;
}


/* width */
p.desc::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  p.desc::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(178, 21, 134); 
    border-radius: 10px;
  }
   
  /* Handle */
  p.desc::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  p.desc::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }